/* Vars */
$black: #010000;
$white: #ffffff;
$blue: #0000ff;
$lightGrey: #e6e6e6;
$darGrey: #333333;
$red: #ff1755;

/* Mixins */
@mixin translateY($e) {
    -webkit-transform: translateY($e);
    -moz-transform: translateY($e);
    transform: translateY($e);
}

@mixin transition($e) {
    -webkit-transition: $e;
    -moz-transition: $e;
    transition: $e;
}

/* Fonts */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: $black;
    font-weight: 400;
    font-style: normal;
}

